{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": [
		"@typescript-eslint",
		"prettierx",
		"simple-import-sort"
	],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:prettierx/default"
	],
	"rules": {
		"prettierx/options": [
			1,
			{
				"singleQuote": false
			}
		],
		"@typescript-eslint/no-explicit-any": "off",
		"@typescript-eslint/no-namespace": "off",
		"prefer-const": 1,
		"@typescript-eslint/no-unused-vars": [
			2,
			{
				"vars": "all",
				"args": "none",
				"varsIgnorePattern": "h"
			}
		],
		"@typescript-eslint/explicit-module-boundary-types": "off",
		"no-case-declarations": "off",
		"no-inner-declarations": "off",
		"sort-imports": "off",
		"simple-import-sort/imports": [
			"error",
			{
				"groups": [
					[
						"@stencil/core",
						"cryptly",
						"flagly",
						"gracely",
						"isoly",
						"paramly",
						"selectively",
						"langly",
						"tidily",
						"uply",
						"authly",
						"persistly",
						"servly",
						"servly-azure",
						"smoothly",
						"^\\u0000",
						"^@?\\w",
						"^",
						"^\\."
					]
				]
			}
		]
	},
	"settings": {
		"prettierx": {
			"usePrettierrc": true
		}
	}
}
